 $breakpoint-tablet: 600px;
 $breakpoint-desktop: 1000px;

 @font-face {
	font-family: "Open Sans Light";
	src: url("fonts/OpenSans-LightItalic.tff") format("tff"),
		 url("fonts/OpenSans-Light.tff") format("tff"),
		 url("fonts/OpenSans-LightBoldItalic.tff") format("tff"),
		 url("fonts/OpenSans-LightBold.tff") format("tff"),
}

body { 
    display: flex;
    max-width: 600px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Open Sans Light;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    img {
        width: 350px;
    }
}
ul {
    padding-left: 0;
}
a {
    text-decoration: none;
}

.select {
    width: 100px;
    display: flex;
    justify-self: center;
    background-color: white;
}

.success {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-item {
    height: 600px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: inline-block;
}

.article {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background-image: cover;
}

.story-meta {
    list-style: none;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

footer {
    padding-top: 100px;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    color: #c2c2c2;
}


@media (min-width: $breakpoint-tablet) {
  body {
      max-width: 100%;
      border: 0;
      header {
          display: flex;
      }
      section {
          width: 100%;
          padding-top: 100px;
          padding-left: 100px;
          display: flex;
          flex-direction: column;
      }
      footer {

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
      }
      ul {
          width: 100%;
          display: grid;
          grid-template-columns: 33.33% 33.33% 33.33%;
      }
  }
}

@media (min-width: $breakpoint-desktop) {

}