 $breakpoint-tablet: 600px;
 $breakpoint-desktop: 1000px;

body { 
    display: flex;
    max-width: 600px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Open Sans Light;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}

.select {
    width: 200px;
    display: flex;
    justify-self: center;
}

.success {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-item {
    margin: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    
}

footer {
    display: flex;
    align-items: flex-end;
    
    justify-content: center;
    color: #c2c2c2;
}


@media (min-width: $breakpoint-tablet) {
  
}

@media (min-width: $breakpoint-desktop) {

}