 $breakpoint-tablet: 600px;
 $breakpoint-desktop: 1000px;

body { 
    display: flex;
    max-width: 600px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Open Sans Light;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.tile {
    display: flex;
    width: 25%;
}

footer {
    display: flex;
    align-items: flex-end;
    
    justify-content: center;
    color: #c2c2c2;
}


@media (min-width: $breakpoint-tablet) {
  
}

@media (min-width: $breakpoint-desktop) {

}